<footer class="container-fluid bg-primary text-light mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <div class="text-light" style="font-family: Pacifico;">
                        <h1>USTORY - Awesh Choudhary</h1>
                    </div>
                    <p class="lead mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quos,
                        accusantium voluptatum ipsam totam optio quis maiores soluta praesentium perspiciatis ex
                        voluptatem in aliquid quaerat labore, nulla provident eligendi nisi.</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footerNav">
                    <li><a href="/" class="text-decoration-none py-3">Home</a></li>
                    <li><a href="/signup" class="text-decoration-none py-3">Stories</a></li>
                    <li><a href="/login" class="text-decoration-none py-3">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>