<title>USTORY - Login</title>
<div class="card p-5 text-center shadow-sm" style="width: 500px;">
    <div class="card-heading mb-4"><h1><span style="font-family: 'Pacifico', cursive;font-size: 5rem;" class="text-primary">USTORY</span></h1><hr></div>
    <div class="card-para fs-1 mb-4">Login to USTORY</div>
        <div class="card-buttons mx-auto">
        <a href="/auth/google" class="btn text-light btn-lg px-5  btn-primary google-btn text-uppercase"><i class="fab fa-google mx-3"></i> LOGIN USTORY</a>
    </div>
</div>