<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <h1 style="font-size: 200px">404</h1>
                    <p class="lead">The Page You're Looking For Is Not Exist</p>
                    <a href="/" class="btn btn-primary text-light text-decoration-none px-5">Back Home</a>
                </div>
            </div>
        </div>
    </div>
</section>